<!-- footer-->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="img/logo/LogoNavBar.png" alt="Logo">
        </div>
        <div class="footer-info">
            <div class="footer-links">
                <a href="about.html">关于团队</a>
                <a href="https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=s9hmkfGoSf-wJU7F9utssiFY1H8n1Wm1&authKey=xn9gD93GzSQuPXeL6iGcDgVtqgeCgWuPGYUSSSGJUoztP/0fE0yZxwu7mb+Pvg0M&noverify=0&group_code=538933981"
                    target="_blank">加入我们</a>
                <a href="donation.html">赞助我们</a>
                <a href="recentupdate.html">近期更新</a>
            </div>
            <div class="footer-contact">
                <span>QQ群：538933981</span>
                <span>邮箱：<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                        data-cfemail="2b4e535a585f5e4f42446b445e5f4744444005484446">[email&#160;protected]</a></span>
            </div>
            <div class="footer-copyright">
                <span>&#169;EXQ Studio</span>
            </div>
        </div>
    </div>
</footer>