/** 导航栏 **/
nav {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    /* 导航栏位于页面其他内容上，请确认页面内容高度与导航栏同步！padding-top=60px */
}

nav img {
    width: 120px;
    height: 50px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 50px;
    margin-left: 120px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

nav div {
    display: flex;
    align-items: center;
}

nav div a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

nav ul li a:hover {
    color: skyblue;
}