<!-- 导航栏 -->
<nav>
    <div class="nav-container">
        <img src="img/logo/LogoNavBar.png" alt="logo">
        <div class="menu-toggle">☰</div>
    </div>
    <ul class="nav-menu">
        <li><a href="index.html">首页</a></li>
        <li><a href="https://forum.exqstudio.cn" target="_blank">论坛</a></li>
        <li><a href="download.html">下载</a></li>
        <li><a href="about.html">关于团队</a></li>
        <li>
            <a href="https://qm.qq.com/q/t3iS9jJZUk"
                target="_blank">加入我们</a>
        </li>
        <li><a href="donation.html">赞助我们</a></li>
    </ul>
    <div>
        <a href="#">登录/注册</a>
    </div>
</nav>
<script src="js/nav.js"></script>